<div id="settingssec" class="mt-5">
    <div class="container">
        <div id="location">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Current Location(detected): {{ usercountry }} |
                        <select>
                            <option selected>Select Location</option>
                            <option value="1">Canada</option>
                            <option value="2">India</option>
                            <option value="3">USA</option>
                        </select>
                    </p>
                </div>
            </div>
            <div id="topic">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Search for a topic"
                                aria-label="Topic"
                                aria-describedby="topicbtntxt"
                            />
                            <button
                                class="input-group-append"
                                type="submit"
                                id="topicbtn"
                            >
                                <span class="input-group-text" id="topicbtntxt"
                                    >Search News</span
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
