<div id="footer" class="text-center bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="mt-3">
                    Powered by
                    <a href="http://newsapi.org/" target="_blank"
                        >NewsAPI.org</a
                    >
                </p>
                <p>
                    Copyright &copy; 2019 | Developed By:
                    <a href="https://www.jaskaran.xyz/" target="_blank"
                        >Jaskaran Singh</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>
